<ng-container *ngFor="let catalog of items; let i = index">
    <div *ngIf="i==currentIndex">
        <app-catalog-item [check]="1" (mouseover)="onImageSelect(i)" [catalog]="catalog" class="catalog-item"></app-catalog-item>
    </div>

    <div *ngIf="i!=currentIndex" class="catalog item">
        <app-catalog-item [check]="0" (mouseover)="onImageSelect(i)" [catalog]="catalog" class="catalog-item"></app-catalog-item>
    </div>

</ng-container>

<div>
    <p>Just a sample Test Element</p>
</div>

<div>
    <p>Just a sample Test Element - 2</p>
</div>


<div>
    <p>Just a sample Test Element - 3</p>
</div>


<div>
    <p>Just a sample Test Element - 4</p>
</div>